@page "/TreeView"

@using Dashboard.Blazor.Client.Pages.Demo.TreeView.Examples

<h1>TreeView</h1>

<DemoSection Title="Default with event handling" Component="@typeof(TreeViewDefault)"/>

<DemoSection Title="Flat tree" Component="@typeof(TreeViewFlat)"/>

<DemoSection Title="Some expanded" Component="@typeof(TreeViewSomeExpanded)"/>

<DemoSection Title="Pre-selected tree item" Component="@typeof(TreeViewSelectedItem)"/>

<DemoSection Title="Disabled tree item" Component="@typeof(TreeViewDisabledItem)"/>

<DemoSection Title="With several nested items (expanded)" Component="@typeof(TreeViewNested)"/>

<DemoSection Title="With data binding" Component="@typeof(TreeViewDataBinding)"/>

