<div>
    <FluentNavMenu Collapsible="false" Title="Main menu">
        <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/" Match="NavLinkMatch.All">
            <h3>Dashboard</h3>
        </FluentNavLink>

        <FluentNavGroup Expanded Gap="10px">
            <TitleTemplate>
                <h3>Samples</h3>
            </TitleTemplate>
            <ChildContent>
                <FluentNavLink Href="/virtual-table" Icon="@(new Icons.Regular.Size20.Grid())">Virtual Table</FluentNavLink>
                <FluentNavLink Href="/fetch-data" Icon="@(new Icons.Regular.Size20.CalendarLtr())">Weather Data</FluentNavLink>
                <FluentNavLink Href="/perspective-view" Icon="@(new Icons.Regular.Size20.Airplane())">Perspective</FluentNavLink>
                <FluentNavLink Href="/perspective-view-wss" Icon="@(new Icons.Regular.Size20.Server())">Perspective Big Table</FluentNavLink>
                <FluentNavLink Href="/web-socket" Icon="@(new Icons.Regular.Size20.Connected())">Web Socket</FluentNavLink>
             </ChildContent>
        </FluentNavGroup>

        <FluentNavGroup Gap="10px">
            <TitleTemplate>
                <h3>About</h3>
            </TitleTemplate>
            <ChildContent>
                <FluentNavLink Href="https://github.com/microsoft/fluentui-blazor" Icon="@(new Icons.Regular.Size20.Info())">Git Hub</FluentNavLink>
                <FluentNavLink Href="https://www.fluentui-blazor.net/" Icon="@(new Icons.Regular.Size20.ArrowUp())">Main demo</FluentNavLink>
            </ChildContent>
        </FluentNavGroup>

    </FluentNavMenu>
</div>
