@page "/DataGrid"

@using Dashboard.Blazor.Client.Pages.Demo.DataGrid.Examples;
@using Microsoft.Fast.Components.FluentUI;

<h1>Data grid</h1>

<DemoSection Title="Get started" Component="@typeof(DataGridGetStarted)">
</DemoSection>

<DemoSection Title="Typical usage" Component="@typeof(DataGridTypical)">
</DemoSection>


<DemoSection Title="Remote data" Component="@typeof(DataGridRemoteData)">
</DemoSection>


<DemoSection Title="Virtualized grid" Component="@typeof(DataGridVirtualize)">
</DemoSection>

<DemoSection Title="Template columns" Component="@typeof(DataGridTemplateColumns)">
</DemoSection>

<DemoSection Title="Dynamic columns" Component="@typeof(DataGridDynamicColumns)">
</DemoSection>

<DemoSection Title="Custom comparer" Component="@typeof(DataGridCustomComparer)" >
</DemoSection>

<DemoSection Title="Custom paging UI" Component="@typeof(DataGridCustomPaging)" >
</DemoSection>

<DemoSection Title="Manual grid" Component="@typeof(DataGridManual)">
</DemoSection>

<DemoSection Title="Template columns 2" Component="@typeof(DataGridTemplateColumns2)">
</DemoSection>


<DemoSection Title="Column headers" Component="@typeof(DataGridColumnHeaderGeneration)">
</DemoSection>

<DemoSection Title="Multiline text content" Component="@typeof(DataGridMultilineText)">
</DemoSection>
